<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="PixieMedia\Suggestion\Api\RelatedRepositoryInterface" type="PixieMedia\Suggestion\Model\RelatedRepository"/>
	<preference for="PixieMedia\Suggestion\Api\Data\RelatedInterface" type="PixieMedia\Suggestion\Model\Related"/>
	<preference for="PixieMedia\Suggestion\Api\Data\RelatedSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="PixieMedia\Suggestion\Model\ResourceModel\Related\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">pixiemedia_suggestion_related</argument>
			<argument name="resourceModel" xsi:type="string">PixieMedia\Suggestion\Model\ResourceModel\Related\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="pixiemedia_suggestion_related_listing_data_source" xsi:type="string">PixieMedia\Suggestion\Model\ResourceModel\Related\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
